
:root{
    --book-cover-width: 200px;
    --book-cover-width-large: 325px;
    --book-cover-aspect-ratio: 0.75;
}

.book{
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
    border-radius: .5rem;  

}
.book-cover{
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
    border-radius: .5rem;  
}
.book-input-cover{
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
    border-radius: .5rem;  

}

.book-cover:hover{
    box-shadow: 15px 15px 7px var(--color-background-dark);
    transition: all .5s;
    transform: translateY(-10px)
}

.book-cover:not(:hover){
    transition: all .5s;
    transform: translateY(10px)
}
.book-cover-large{
    --book-cover-width: var(var(--book-cover-width-large))
}
.book-grid{
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--book-cover-width));
}

.book-grid-large{
    grid-template-columns: repeat(auto-fill, var(--book-cover-width-large));
}

.book-details{
    display: flex;

}

.book-details-label{
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
}

.book-details-grid{
    display: grid;
    align-content: flex-start;
    align-items: center;
    gap: 1rem;
    grid-template-columns: auto auto;
}

.book-details-btn-grid{
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-areas: 
    "edit delete"
    "author author"
    ;
    gap: .5rem;
    margin-top: .5rem;  
}

.book-details-author-button{
    grid-area: author;
    justify-self: stretch;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {

    .book-grid {
      gap: 1rem; /* Reduce el espacio entre los libros en pantallas pequeñas */
      grid-template-columns: repeat(auto-fill, var(--book-cover-width));
    }

    .book-details-btn-grid{
        display: flex;
        flex-direction: column;
        flex: content;  
        justify-items: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        grid-template-areas:none;
        gap: 0;
        margin-top: 0;  
    }

    .book-grid-large {
      grid-template-columns: repeat(auto-fill, var(--book-cover-width-large));
    }

    .book-details {
    display: flexbox;
    flex-direction: column;
    }
  }
